# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 
config.bat
